<h1>About Me</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "profile.jpg", width: 300, alt: 'proile image' %>
  </div>
  <div class="col-md-8">
    <p>I love the outdoors and tech.  If i can't adventure somewhere new or learn a new skill i get bored.
       Pushing my capabilites has always kept me seeking new opportunities and has allowed me to meet some really
       cool people along the way.
    </p>
    <p>
      Everything software related is interesting to me.  I love learning new techniques from talented developers and
      applying them to my own skill set.  I have a passion for creating beautiful and fluid experiences for the user and
      implementing best practices for both the back-end and front-end in any application I put my hands too.
    </p>
  </div>
</div>
