<div class="inner cover">
  <h1 class="cover-heading">My Portfolio</h1>
  <p class="lead">
    Thanks for visiting.  This website gives a little insight on both my love for tech and the outdoors.
    Browse around and leave a comment in my blogs if you see something that interests you.
  </p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
